version: '3.8'
services:
  aurora-brain:
    image: python:3.11-slim
    restart: always
    network_mode: host
    volumes:
      - .:/app
    working_dir: /app
    command: python main.py
    environment:
      - TZ=America/Sao_Paulo
